h1 {
  border: 2px solid red;
}
p{
  color:aqua;
  background-color: black;
  text-align: center;
  text-align: justify;
  text-decoration-line: underline;
  text-decoration-color:brown;
  text-decoration-style:dashed ;
  text-decoration-thickness: 5px;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px yellow;
  word-spacing: 30px;
}

