h1 {
  border-style: dashed double dashed double;
  border-width: 3px 20px 6px 10px;
  border-color: red blue green rgb(251, 219, 219);
  border-radius: 5px;
  padding: 10px ;
  height: 100px;
  width: 444px;
}
