h1 {
  color: red;
  text-align: center;
}

h3{
  font-size:xx-large;
}

h6{
    color: black;
    background-color: orange;
    opacity: 50%;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Welcome{
    color: chartreuse;
}

.text{
    color: blue;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  
}
